{# SPDX-License-Identifier: CC0-1.0
 #
 # templates/admin/index.html
 #
 # This file is a component of ShadyURL by Elizabeth Myers.
 #
 # To the extent possible under law, the person who associated CC0 with
 # ShadyURL has waived all copyright and related or neighboring rights
 # to ShadyURL.
 #
 # You should have received a copy of the CC0 legalcode along with this
 # work.  If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.
 #}
{% extends "admin/admin_base.html" %}
{%- block path %}admin{% endblock -%}
{%- block title %}{{ sitename }} — Admin{% endblock -%}
{%- block content -%}
<p>
<a href="/admin/urls">Manage URLs</a>
<br><br>
<a href="/admin/url_filters">Manage URL filters</a>
<br><br>
<a href="/admin/cidr_bans">Manage CIDR bans</a>
</p>
{%- endblock -%}
