{# SPDX-License-Identifier: CC0-1.0
 #
 # templates/admin/url_filters.html
 #
 # This file is a component of ShadyURL by Elizabeth Myers.
 #
 # To the extent possible under law, the person who associated CC0 with
 # ShadyURL has waived all copyright and related or neighboring rights
 # to ShadyURL.
 #
 # You should have received a copy of the CC0 legalcode along with this
 # work.  If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.
 #}
{% extends "base.html" %}
{% block path %}admin/url_filters{% endblock %}
{% block head_addition %}<meta name="robots" content="noindex,nofollow">{% endblock %}
{% block title %}Admin – {{ sitename }} — URL filters{% endblock %}
{% block header %}
<h1>Admin – {{ sitename }}</h1>
<a href="/logout">Logout</a>
{% endblock %}
{% block content %}
<br>
<form method="post" action="/admin/url_filters">
    <input type="hidden" name="authenticity_token" value="{{ authenticity_token }}">
    <label for="filter">Filter regex:</label>
    <input type="text" name="filter" placeholder="Filter regex">
    <label for="reason">Reason (optional):</label>
    <input type="text" name="reason" placeholder="Reason (optional)">
    <button type="submit" value="submit">Submit</button>
</form>
<br>
<table id="admin-list-table">
    <tr id="admin-list-heading">
        <th id="admin-list-id-heading">ID</th>
        <th id="admin-list-url-heading">Filter</th>
        <th id="admin-list-redirect-heading">Note</th>
        <th id="admin-list-created-heading">Created</th>
        <th id="admin-list-ip-heading">Admin</th>
    </tr>
{% for (entry, user) in url_filters %}
    <tr id="admin-list-item">
        <td id="admin-list-id-item">
            <form method="post" action="/admin/url_filters/delete" id="inline">
                <input type="hidden" name="authenticity_token" value="{{ authenticity_token }}">
                <input type="hidden" name="id" value="{{ entry.id }}">
                <button type="submit" value="submit" id="link-button">
                    {{ entry.id }}
                </button>
            </form>
        </td>
        <td id="admin-list-url-item">{{ entry.filter }}</td>
        <td id="admin-list-redirect-item">{% if entry.reason.is_some() %}{{ entry.reason.as_ref().unwrap() }}{% else %}—{% endif %}</td>
        <td id="admin-list-created-item">{{ entry.created_at }}</td>
        <td id="admin-list-ip-item">{% if user.is_some() %}{{ user.as_ref().unwrap().username }}{% else %}–{% endif %}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
