{# SPDX-License-Identifier: CC0-1.0
 #
 # templates/admin/urls.html
 #
 # This file is a component of ShadyURL by Elizabeth Myers.
 #
 # To the extent possible under law, the person who associated CC0 with
 # ShadyURL has waived all copyright and related or neighboring rights
 # to ShadyURL.
 #
 # You should have received a copy of the CC0 legalcode along with this
 # work.  If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.
 #}
{% extends "admin/admin_base.html" %}
{%- block path %}admin/urls{% endblock -%}
{%- block title %}{{ sitename }} — Admin — URLs{% endblock -%}
{%- block content -%}
<br>
<table id="admin-list-table">
    <tr id="admin-list-heading">
        <th id="admin-list-id-heading">ID</th>
        <th id="admin-list-url-heading">URL</th>
        <th id="admin-list-redirect-heading">Redirect</th>
        <th id="admin-list-created-heading">Created</th>
        <th id="admin-list-ip-heading">IP</th>
    </tr>
{%- for entry in urls %}
    <tr id="admin-list-item">
        <td id="admin-list-id-item">
            <form method="post" action="/admin/delete" id="inline">
                <input type="hidden" name="authenticity_token" value="{{ authenticity_token }}">
                <input type="hidden" name="id" value="{{ entry.id }}">
                <button type="submit" value="submit" id="link-button">
                    {{ entry.id }}
                </button>
            </form>
        </td>
        <td id="admin-list-url-item">{{ entry.url }}</td>
        <td id="admin-list-redirect-item">{{ entry.shady }}</td>
        <td id="admin-list-created-item">
            <abbr title="{{ entry.created_at }}">
                {{ format::humanize_duration(OffsetDateTime::now_utc() - entry.created_at.clone()) }}
            </abbr>
        </td>
        <td id="admin-list-ip-item">{% if entry.ip.as_ref().is_some() %}{{ entry.ip.as_ref().unwrap() }}{% else %}–{% endif %}</td>
    </tr>
{%- endfor -%}
</table>
{%- endblock -%}
