/* SPDX-License-Identifier: CC0-1.0
 *
 * static/assets/style.css
 *
 * This file is a component of ShadyURL by Elizabeth Myers.
 *
 * To the extent possible under law, the person who associated CC0 with
 * ShadyURL has waived all copyright and related or neighboring rights
 * to ShadyURL.
 *
 * You should have received a copy of the CC0 legalcode along with this
 * work.  If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.
 */

html {
    background-color: #181818;
    color: #00B000;
}

.inline {
    display: inline;
}

.link-button {
    background: none;
    border: none;
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
    color: #00E000;
    font-family: Monospace;
}

.link-button:focus {
    outline: none;
}

.link-button:active {
    color: #00F000;
}

ul#url-types {
    list-style: none;
    max-width: 75%;
    margin: 0 auto 0 auto;
    padding: 0;
}

ul#url-types li {
    text-align: center;
    display: inline-block;
    font-size: 1.20em;
    line-height: 1.50em;
    text-align: center;
}

ul#url-types li:not(:first-child):before {
    content: '\2022\00a0';
}

div#header h1 {
    font-size: 3.50em;
}

div#header h2 {
    font-size: 2.00em;
}

div#warning {
    background-color: #FF0000;
    color: #000000;
    height: 1.50em;
    align: center;
    border: 1px solid #000000;
    margin: auto;
    width: 50%;
    line-height: 1.50em;
    font-size: 1.25em;
}

div#content {
    margin: auto;
    line-height: 1.25em;
    width: 75%;
    text-align: center;
    font-family: Monospace;
}

div#content p {
    font-size: 1.25em;
}

div#content a:link {
    color: #00E000;
}

div#content a:visited {
    color: #00D000;
}

div#body label {
    font-size: 1.25em;
    font-weight: bold;
}

div#body input {
    font-size: 1.25em;
    background-color: #181818;
    color: #00C000;
    border: 2px #00AA00;
    box-shadow: 0 0 3px #00CC00;
}

div#body input:focus {
    outline: none;
    border: 2px #00CC00;
    box-shadow: 0 0 6px #00DD00;
}

div#body h2 {
    font-size: 1.75em;
}

div#form {
    padding-top: 2.25em;
}

div#footer {
    padding-top: 1.75em;
    font-size: 0.75em;
}
