{# SPDX-License-Identifier: CC0-1.0
 #
 # templates/admin.html
 #
 # This file is a component of ShadyURL by Elizabeth Myers.
 #
 # To the extent possible under law, the person who associated CC0 with
 # ShadyURL has waived all copyright and related or neighboring rights
 # to ShadyURL.
 #
 # You should have received a copy of the CC0 legalcode along with this
 # work.  If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.
 #}
{% extends "base.html" %}
{% block title %}Admin – {{ sitename }}{% endblock %}
{% block header %}
<h1>Admin – {{ sitename }}</h1>
<a href="/logout">Logout</a>
{% endblock %}
{% block content %}
<p>
    <table>
        <div id="table_heading">
            <tr id="heading">
                <td>ID</td>
                <td>URL</td>
                <td>Redirect</td>
                <td>Created</td>
                <td>IP</td>
            </tr>
        </div>
        {% for entry in urls %}
        <div id="table_item">
            <tr>
                <td>
                    <form method="post" action="/admin" class="inline">
                        <input type="hidden" name="auth_token" value="{{ auth_token }}">
                        <input type="hidden" name="id" value="{{ entry.id }}">
                        <button type="submit" value="submit" class="link-button">
                            {{ entry.id }}
                        </button>
                    </form>
                </td>
                <td>{{ entry.url }}</td>
                <td>{{ entry.shady }}</td>
                <td>{{ entry.created_at }}</td>
                <td>{% if entry.ip.as_ref().is_some() %}{{ entry.ip.as_ref().unwrap() }}{% else %}–{% endif %}</td>
            </tr>
        </div>
        {% endfor %}
    </table>
</p>
{% endblock %}
