{# SPDX-License-Identifier: CC0-1.0
 #
 # templates/base.html
 #
 # This file is a component of ShadyURL by Elizabeth Myers.
 #
 # To the extent possible under law, the person who associated CC0 with
 # ShadyURL has waived all copyright and related or neighboring rights
 # to ShadyURL.
 #
 # You should have received a copy of the CC0 legalcode along with this
 # work.  If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.
 #}
<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="description" content="A thing that makes URLs shady">
        <meta name="author" content="Elizabeth Myers">
        <meta property="og:title" content="Make your URLs shady">
        <meta property="og:type" content="website">
        <meta property="og:description" content="A thing that makes URLs shady">
        <meta name="darkreader-lock"> <!-- Dark reader breaks the site --!>
        <title>{% block title %}{{ sitename }} — {{ title }}{% endblock %}</title>
        <link rel="stylesheet" href="assets/style.css">
    </head>
    <body>
        <div id="content">
            <div id="header">
                {% block header %}<p>Placeholder header</p>{% endblock %}
            </div>
            <div id="body">
                {% block content %}<p>Placeholder content</p>{% endblock %}
            </div>
            <div id="footer">
                <p>
                    Made with spite and malice by <a href="https://social.naln1.ca/Elizafox">Elizabeth Myers</a> in Rust.
                </p>
                <p>
                    This site runs the open-source <a href="https://github.com/Elizafox/shadyurl-rust">ShadyURL-Rust</a>; all rights waived under the CC0.
                </p>
                <p>
                    If you think it's worth it, tip me via <a href="https://paypal.me/Elizafox">PayPal</a> or <a href="https://cash.app/$TheRealElizafox">CashApp</a>.
                </p>
                <p>
                    Send malicious URL takedown requests <a href="mailto:elizabeth.jennifer.myers+shadyurl-takedown@gmail.com">here</a>.
                </p>
            </div>
        </div>
    </body>
</html>
