{# SPDX-License-Identifier: CC0-1.0
 #
 # templates/login_landing.html
 #
 # This file is a component of ShadyURL by Elizabeth Myers.
 #
 # To the extent possible under law, the person who associated CC0 with
 # ShadyURL has waived all copyright and related or neighboring rights
 # to ShadyURL.
 #
 # You should have received a copy of the CC0 legalcode along with this
 # work.  If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.
 #}
{% extends "base.html" %}
{% block title %}{{ sitename }}{% endblock %}
{% block header %}
<h1>{{ sitename }}</h1>
<h2>Admin login portal</h2>
{% if err_str != "" %}
<div id="warning">{{ err_str }}</div>
{% endif %}
{% endblock %}
{% block content %}
<p>
    <div id="form">
        <form action="/login" method="post">
            <input type="hidden" name="auth_token" value="{{ auth_token }}">
            <label for="username">Username:</label><br><br>
            <input type="text" id="username" name="username"><br><br>
            <label for="password">Password:</label><br><br>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Login">
        </form>
    </div>
</p>
{% endblock %}
