{# SPDX-License-Identifier: CC0-1.0
 #
 # templates/submit.html
 #
 # This file is a component of ShadyURL by Elizabeth Myers.
 #
 # To the extent possible under law, the person who associated CC0 with
 # ShadyURL has waived all copyright and related or neighboring rights
 # to ShadyURL.
 #
 # You should have received a copy of the CC0 legalcode along with this
 # work.  If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.
 #}
{% extends "base.html" %}
{% block path %}makeurl{% endblock %}
{% block head_addition %}<meta name="robots" content="noindex">{% endblock %}
{% block title %}Success{% endblock %}
{% block header %}
<h1>Success!</h1>
{% endblock %}
{% block content %}
{%- let slim_shady = "https://{}/{}"|format(shady_host, shady|escape) -%}
<p>
    <strong><a href="{{ slim_shady }}">{{ slim_shady }}</a></strong><br><br>
    goes to<br><br>
    <strong><a href="{{ url|escape }}">{{ url|escape }}</a></strong>
</p>
<br>
<p>
    <a href="/">Make another URL shady?</a>
</p>
{% endblock %}
